body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FFE600;
    color: #000;
    text-align: center;
}

.container {
    padding: 20px;
}

header {
    margin-bottom: 30px;
}

.logo {
    width: 100px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

p {
    font-size: 14px;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.promo-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #2D3277;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.promo-button img {
    width: 40px;
    margin-right: 15px;
}

.promo-button:hover {
    background-color: #1f2357;
}

footer {
    background-color: #FFE600; /* Cor de fundo do footer */
    color: #000; /* Cor do texto */
    font-size: 14px;
    text-align: center;
    padding: 20px;
    margin-top: 30px; /* Adiciona espaçamento entre o footer e o conteúdo acima */
}